.h1 {
  color:#cc0000;
  text-align: center;
  font-size: 50px;
  font-style: oblique;
  font-weight: bold;
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  float: left;

}
.li a {
  display: block;
  color: #000000;
  padding: 10px 18px;
  text-decoration: none;
}

.div{
  background-color:white;

}

.h{
  color:#21AB92 ;
  text-align: center;
  font-size: 40px;
  font-style: oblique;
  font-weight: bold;
}
.p{
  font-size: 30px;
  font-style: oblique;


}
.div3{
  border: 10px solid black;
  text-align: center;
  background-color:#EBEDEF;
  padding: 10px;
}

.div4{
  border: 10px solid black;
  text-align: center;
  background-color:#EBEDEF;
  padding: 10px;
}

.div5{
  border: 10px solid black;
  text-align: center;
  background-color:#EBEDEF;
  padding: 10px;
}

#ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

#li {
  float:right;
}

#li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

#li a:hover {
  background-color: #272A4D;
  color: white;
}

.div3 a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}

.div3 a:hover {
  background-color: #272A4D;
  color: white;
}

.div4 a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}

.div4 a:hover {
  background-color: #272A4D;
  color: white;
}

.div5 a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}

.div5 a:hover {
  background-color: #272A4D;
  color: white;
}



#h{
  color:white;
  text-align: center;
  text-shadow:2px 1px black;
  font-size: 40px;
  font-style: oblique;
  font-weight: bold;
}
